option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 256M
    max_execution_time: 60
    display_errors: "Off"
    allow_url_fopen: "On"
    zlib.output_compression: "On"

  aws:elasticbeanstalk:application:environment:
    APP_ENV: production

packages:
  yum:
    php-pdo: []
    php-mysqlnd: []
    php-mbstring: []
    php-openssl: []
